// base styles

html {
	margin: 0;
	padding: 0;
	width: 100%;
	float: left;
	height: 100%;
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

* {
	box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $grey;
  font-family: $lato;
  font-size: 14px;
  line-height: 18px;
  color: $text;
}

p {
	margin: 0;
	margin-bottom: 20px;
	font-size: 12px;
	line-height: 18px;

	&:last-child {
		margin-bottom: 0;
	}

}

ul, ol {
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
	padding-left: 16px;

	&:last-child {
		margin-bottom: 0;
	}

	li {
		margin-bottom: 5px;
		font-size: 12px;
		line-height: 18px;

		&:last-child {
			margin-bottom: 0;
		}

	}

}

a {
	text-decoration: none;
	color: $brand-green;
	@include transition();

	&:hover {
		color: $brand-dark;
		@include transition();
	}

	&.button {
		border: 1px solid $white;
		color: $white;
		padding: 10px;
		display: block;
		margin: 0 auto;
		max-width: 153px;
		font-size: 12px;
		line-height: 12px;

		&:hover {
			color: $brand-dark;
			background-color: $white;
		}

	}

}

.padded {
	padding: 20px;
	float: left;
	width: 100%;

	&.no-top {
		padding-top: 0 !important;
	}

	&.no-bottom {
		padding-bottom: 0 !important;
	}

	&.no-left {
		padding-left: 0 !important;
	}

	&.no-right {
		padding-right: 0 !important;
	}

}

// animate.css / waypoints

.toBeAnimated {
  -vendor-animation-duration: 3s;
  -vendor-animation-delay: 2s;
}

.os-animation{
  opacity: 0;
}

.os-animation.animated{
    opacity: 1;
}

// container

#container {
	width: 100%;
	margin: 0px auto;
	//display: block;
	max-width: 1240px;
	background-color: $white;
	//padding: 0 20px;
	overflow: hidden;
	background-color: $grey;

	.contact-page {
		float: left;
		width: 100%;
		background-color: $white;

		.status-msg {
			float: left;
			width: 100%;
			font-size: 10px;
			line-height: 16px;
			//margin-bottom: 20px;

			&.valid {
				color: $brand-green;
			}

			&.invalid {
				color: red;
			}

		}

		form {

			.ng-dirty.ng-invalid {
				border: 1px solid red;
			}

			.status-msg {
				display: none !important;
			}

			.left, .right {
				float: left;
				width: 100%;
				margin-bottom: 20px;
			}

			input, textarea {
				float: left;
				width: 100%;
				padding: 15px;
				margin-bottom: 20px;
				border: 1px solid $grey;
				font-size: 12px;
				line-height: 18px;
				color: $text;
				outline: none;
				resize: none;
				font-family: $lato;
				-webkit-appearance: none;
				-webkit-border-radius:0;
				border-radius:0;

				&:last-child {
					margin-bottom: 0;
				}

				&[type=submit] {
					background-color: $brand-dark;
					border: none;
					color: $white;
					-webkit-border-radius:0;
					border-radius:0;
					-webkit-appearance: none;

					&:hover {
						background-color: $brand-green;
						color: $brand-dark;
					}

				}

			}

			&.ng-submitted {

				.ng-invalid {
					border: 1px solid red;
				}

				.status-msg.valid {
					display: block !important;
				}

			}

		}

	}

	.about-intro {
		float: left;
		width: 100%;
		background-color: $white;

		h2 {
			margin: 0;
			font-size: 16px;
			line-height: 16px;
			margin-bottom: 20px;
			color: $brand-dark;
		}

	}

	.work-intro {

		@extend .about-intro;

	}

	.team {
		float: left;
		width: 100%;
		background-color: $brand-dark;
		color: $white;
		text-align: center;

		.team-photo {
			display: block;
			margin: 0 auto;
			max-width: 100%;
			height: auto;
			margin-bottom: 20px;
		}

		h4 {
			font-weight: bold;
			margin: 0;
			color: $white;
			font-size: 14px;
			line-height: 14px;
			margin-bottom: 10px;
		}

		h5 {
			margin: 0;
			font-weight: normal;
			font-size: 12px;
			line-height: 12px;
			margin-bottom: 20px;
		}

		p {
			max-width: 300px;
			margin: 0 auto;
			display: block;
			width: 100%;
			margin-bottom: 20px;
		}

		ul.social-media {
			max-width: 82px;
			margin: 0 auto;
			display: block;
			list-style: none;
			padding: 0;

			li {
				float: left;
				width: calc(100% / 3);

				a {
					color: $white;

					&:hover {
						color: $brand-green;
					}

				}

			}

		}

		.phil {
			float: left;
			width: 100%;
			margin-bottom: 20px;
		}

		.brandon {
			float: left;
			width: 100%;
		}

	}

	.single-work {
		float: left;
		width: 100%;
		background-color: $white;

		h2 {
			margin: 0;
			font-size: 16px;
			line-height: 16px;
			margin-bottom: 20px;
			color: $brand-dark;
		}

		h3 {
			margin: 0;
			margin-bottom: 10px;
			font-size: 14px;
			line-height: 14px;
		}

		.left {
			float: left;
			width: 100%;
			margin-bottom: 20px;
		}

		.right {
			float: left;
			width: 100%;

			.technologies-used {
				background-color: $grey;
				color: $text;
				padding: 20px;

				h3 {
					color: $brand-green;
				}

				p {
					margin-top: 20px;

					a {

						.fa {
							margin-right: 5px;
						}

					}

				}

				ul {
					padding: 0;
					list-style: none;
					margin-bottom: 0;

					li {

						.fa {
							color: $brand-green;
							margin-right: 5px;
						}

					}

				}

			}

		}

	}

	.flexslider {
		float: left;
		width: 100%;
		margin: 0;
		padding: 0;
		border: 0;

		ul.slides {

			li {
				@include aspect-ratio(320, 320);
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
				line-height: 0;
			}

		}

		ol.flex-control-nav {
			bottom: 20px;
			z-index: 100;

			li {
				margin: 0 5px;

				&:first-child {
					margin-left: 0;
				}

				&:last-child {
					margin-right: 0;
				}

				a {
					background-color: transparent;
					border: 1px solid $white;
					box-shadow: none;
					-webkit-box-shadow: none;
					-moz-box-shadow: none;
					-o-box-shadow: none;
					-ms-box-shadow: none;
					width: 10px;
					height: 10px;

					&.flex-active {
						background-color: $white;
					}

				}

			}

		}

	}

	footer {
		//padding: 20px;
		float: left;
		width: 100%;
		background-color: $white;
		border-top: 1px solid $grey;

		.footer-reveal {
			padding: 20px;
			//border-bottom: 1px solid lighten($text, 5%);
			color: $text;
			float: left;
			width: 100%;
			font-size: 14px;
			line-height: 14px;
			cursor: pointer;
			@include transition();

			.fa {
				float: right;
				font-size: 12px;
				line-height: 14px;
				//@include transition();
			}

			&:hover {
				color: $brand-green;
				@include transition();
			}

			&.open {
				background-color: $brand-dark;
				color: $white;
			}

		}

		.copyright {
			float: left;
			width: 100%;
			padding: 20px;
			border-top: 1px solid $grey;

			p {
				font-size: 12px;
				line-height: 18px;
			}

		}

		ul.footer-nav {
			float: left;
			width: 100%;
			margin: 0;
			padding: 0;
			list-style: none;
			display: none;
			padding: 20px;

			li {
				float: left;
				width: 100%;
				//text-align: center;
				margin: 0;
				margin-bottom: 10px;

				a {
					color: $text;
					font-size: 12px;
					line-height: 12px;

					&:hover {
						color: $brand-green;
					}

				}

			}

		}

	}

	header {
		padding: 20px;
		float: left;
		width: 100%;
		background-color: $white;
		position: relative;
		z-index: 100;
		border-bottom: 1px solid $grey;

		.mobile-toggle {
			position: absolute;
			right: 20px;
			top: 50%;
			@include center-vertical();

			.fa {
				font-size: 20px;
				line-height: 20px;
				color: $brand-dark;
				@include transition();
			}

			&:hover, &.active {

				.fa {
					color: $brand-green;
					@include transition();
				}

			}

		}

		h1.logo {
			background-image: url('../img/header-logo.svg');
			width: 220px;
			height: 46px;
			display: block;
			margin: 0;
			text-indent: -5000px;
		}

		nav {
			display: none;
			float: left;
			width: 100%;
			position: absolute;
			top: 86px;
			left: 0;
			background-color: $brand-dark;
			border-bottom: 1px solid $white;
			//padding: 20px;

			ul {
				list-style: none;
				margin: 0;
				padding: 0;

				li {
					//margin-bottom: 10px;
					line-height: 12px;

					&:last-child {
						margin-bottom: 0;
					}

					a {
						color: $white;
						font-size: 14px;
						line-height: 14px;
						display: block;
						width: 100%;
						padding: 10px 20px;

						&.active {
							color: $brand-green;
						}

					}

					&:first-child {

						a {
							padding-top: 20px;
						}

					}

					&:last-child {

						a {
							padding-bottom: 20px;
						}

					}

				}

			}

		}

	}

	.portfolio-blocks {
		float: left;
		width: 100%;

		.block {
			float: left;
			width: 100%;
			@include aspect-ratio(320,320);

			&.intro-block {
				background-color: $brand-dark;
				color: $white;

				.padded {
					@include center-center();
					text-align: center;
					max-width: 500px;

					h2 {
						font-size: 16px;
						line-height: 20px;
						margin: 0;
						margin-bottom: 20px;
					}



				}

			}

			&.work-item {
				background-color: #ea4d58;
				cursor: pointer;

				.work-title {
					color: $white;
					position: absolute;
					top: 20px;
					left: 20px;
					display: none;
				}

				a {
					position: absolute;
				    top: 0;
				    left: 0;
				    right: 0;
				    bottom: 0;
				}

				.bg {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background-size: contain;
					background-position: center center;
					background-repeat: no-repeat;
				}

				&:hover, &.hover_effect {

					.work-title {
						display: block;
					}

				}

			}

		}

	}

}
@-webkit-keyframes bounceInUp {
    0%,
    60%,
    75%,
    90%,
    100% {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
    }
    0% {
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0)
    }
    40% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes bounceInUp {
    0%,
    60%,
    75%,
    90%,
    100% {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
    }
    0% {
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0)
    }
    40% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}
