<!-- directive: os-animation -->

<div class="about-intro padded">

	<h2 class="os-animation" data-os-animation="bounceInUp" data-os-animation-delay="0.5s">About Philyorkshire</h2>

	<p class="os-animation" data-os-animation="bounceInUp" data-os-animation-delay="0.5s">We're a Digital Development Consultancy specialising in Design, Development and Testing based in West Yorkshire. We work closely with our clients from briefing through to execution. This enables us to ensure we are meeting client requirements with the possibly to scale and adapt any project in the future. Through our understanding of their businesses and objectives this means we can truly add value as partners and not just suppliers. All projects at Philyorkshire are managed using standard practices to ensure quality and consistency.</p>

</div>

<div class="team padded">

	<div class="phil">

		<img class="team-photo os-animation" data-os-animation="bounceInUp" data-os-animation-delay="0.5s" src="../assets/img/about/phillip.png" alt="Phillip Marsden" />

		<h4 class="os-animation" data-os-animation="bounceInUp" data-os-animation-delay="0.5s">Phillip Marsden</h4>
		<h5 class="os-animation" data-os-animation="bounceInUp" data-os-animation-delay="0.5s">Software Test Analyst</h5>

		<p class="os-animation" data-os-animation="bounceInUp" data-os-animation-delay="0.5s">Phillip comes from a background in Software Testing, working with a range of industry sectors developing dependable applications for clients that deliver the confidence required to evolve in their fast-paced industry.<br /><br />

Phillip primarily works with Microsoft technologies such as ASP.NET, MVC, Web API, C#, SQL etc. for server side applications together with front-end technologies including; JavaScript, Backbone, Marionette, CSS3 and HTML5 to deliver impressive user experiences.</p>

		<ul class="social-media">
			<li class="os-animation" data-os-animation="bounceInUp" data-os-animation-delay="0.5s"><a target="_blank" href="https://uk.linkedin.com/in/phillip-marsden-9a0b456b"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
			<li class="os-animation" data-os-animation="bounceInUp" data-os-animation-delay="0.5s"><a target="_blank" href="https://bitbucket.org/philyorkshire"><i class="fa fa-bitbucket" aria-hidden="true"></i></a></li>
			<li class="os-animation" data-os-animation="bounceInUp" data-os-animation-delay="0.5s"><a target="_blank" href="https://github.com/Philyorkshire"><i class="fa fa-github" aria-hidden="true"></i></a></li>
		</ul>

	</div>

	<div class="brandon">

		<img class="team-photo os-animation" data-os-animation="bounceInUp" data-os-animation-delay="0.5s" src="../assets/img/about/brandon.png" alt="Brandon Whitaker" />

		<h4 class="os-animation" data-os-animation="bounceInUp" data-os-animation-delay="0.5s">Brandon Whitaker</h4>
		<h5 class="os-animation" data-os-animation="bounceInUp" data-os-animation-delay="0.5s">Front End Developer</h5>

		<p class="os-animation" data-os-animation="bounceInUp" data-os-animation-delay="0.5s">Leading from a background in Front End Development, Brandon has worked with a variety of different clients and industry sectors ranging from automobiles, craft ales, property and e-commerce.<br /><br /> As a digital developer Brandon's focus are front end technologies including; HTML, CSS, SASS/LESS, JavaScript, jQuery, PHP, WordPress and AngularJS. This allows him to develop bespoke solutions that are concise and confident for our clients.</p>

		<ul class="social-media">
			<li class="os-animation" data-os-animation="bounceInUp" data-os-animation-delay="0.5s"><a target="_blank" href="https://uk.linkedin.com/in/brandon-whitaker-0033a750"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
			<li class="os-animation" data-os-animation="bounceInUp" data-os-animation-delay="0.5s"><a target="_blank" href="https://bitbucket.org/brandudno22"><i class="fa fa-bitbucket" aria-hidden="true"></i></a></li>
			<li class="os-animation" data-os-animation="bounceInUp" data-os-animation-delay="0.5s"><a target="_blank" href="https://github.com/brandudno23"><i class="fa fa-github" aria-hidden="true"></i></a></li>
		</ul>

	</div>

</div>
