
<!-- directive: os-animation -->


<div equal-heights class="contact-page padded">

	<h2 class="os-animation" data-os-animation="bounceInUp" data-os-animation-delay="0.5s">Contact</h2>

	<p class="os-animation" data-os-animation="bounceInUp" data-os-animation-delay="0.5s">If you’re interested in hearing a little more about us or would even love to just arrange a coffee then we’d love to hear from you…</p>

	<span class="status-msg valid" ng-show="message">{{message}}</span>

	<form novalidate class="simple-form os-animation" data-os-animation="bounceInUp" data-os-animation-delay="0.5s" ng-hide ="formSubmitted == true"  ng-submit="submitForm()">

		<div class="left">
			<span class="status-msg invalid" ng-show="errorName">{{errorName}}</span>
			<input type="text" name="name" placeholder="Name" ng-model="user.name" required/>

			<span class="status-msg invalid" ng-show="errorEmail">{{errorEmail}}</span>
			<input type="email" name="email" placeholder="Email" ng-model="user.email" required/>

			<span class="status-msg invalid" ng-show="errorUserName">{{errorUserName}}</span>
			<input type="tel" name="telephone" placeholder="Telephone" ng-model="user.telephone" required/>

		</div>

		<div class="right">

			<span class="status-msg invalid" ng-show="errorMessage">{{errorMessage}}</span>
			<textarea placeholder="Message" name="Message" ng-model="user.message" required></textarea>

		</div>

		<input type="submit" value="Send"/>

	</form>


</div>
