<!-- directive: os-animation -->

<div class="portfolio-blocks">
	
	<div class="block block-1 intro-block" >
		
		<div class="padded">
			<h2>Digital Design, Development & Testing</h2>
			
			<p>Philyorkshire are a Digital Design, Development and Testing consultancy based in West Yorkshire.</p>
			
			<p>Working with businesses to make them resourceful, more competent and productive.</p>
			
			<a ng-href="./#/work" class="button">Work</a>
			
		</div>
		
	</div>
	
	
	<div class="block block-2 work-item hover os-animation" data-os-animation="bounceInUp" ng-repeat="item in work | limitTo:3" style="background-color: {{item.bcolor}} !important">
	
		<div class="bg" style="background-image: url({{item.img}});">&nbsp;</div>
		
		<div class="work-title"><p>{{item.name}}</p></div>
		
		<a href="./#/work/{{item.slug}}">&nbsp;</a>
		
	</div>
	
		
	
</div>