<!-- directive: os-animation -->

<div class="flexslider" flexslider-init>
	
  <ul class="slides">
	  
    <li ng-repeat="slide in workItems.slides" style="background-image: url('{{slide}}');">&nbsp;</li>

<!-- 		<li style="background-image: url('http://placekitten.com/g/400/200');">&nbsp;</li> -->
		

    
  </ul>
  
</div>


<div class="single-work padded">

	<h2 class="os-animation" data-os-animation="bounceInUp" data-os-animation-delay="0.5s">{{workItems.name}}</h2>
	
	<div class="left">
		
		<h3 class="os-animation" data-os-animation="bounceInUp" data-os-animation-delay="0.5s">Brief</h3>
	
		<p class="os-animation" data-os-animation="bounceInUp" data-os-animation-delay="0.5s">{{workItems.brief}}</p>
		
		<h3 class="os-animation" data-os-animation="bounceInUp" data-os-animation-delay="0.5s">Solution</h3>
		
		<p class="os-animation" data-os-animation="bounceInUp" data-os-animation-delay="0.5s">{{workItems.solution}}</p>
		
		<p class="os-animation" data-os-animation="bounceInUp" data-os-animation-delay="0.5s"><a is-active-nav ng-href="/work">&lsaquo; Back to work</a></p>
		
	</div>
	
	<div class="right">
	
		<div class="technologies-used">
		
			<h3 class="os-animation" data-os-animation="bounceInUp" data-os-animation-delay="0.5s">Technologies</h3>
			
			<ul>
				<li class="os-animation" data-os-animation="bounceInUp" data-os-animation-delay="0.5s" ng-repeat="skill in workItems.skills"><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;{{skill}}</li>
			</ul>
			
			<p ng-hide="workItems.url == null" class="os-animation" data-os-animation="bounceInUp" data-os-animation-delay="0.5s"><a target="_blank" href="http://{{workItems.url}}"><i class="fa fa-globe" aria-hidden="true"></i>&nbsp;{{workItems.url}}</a></p>
			
		</div>
	
	</div>

</div>