<!-- directive: os-animation -->

<div class="work-intro padded">
	
	<h2 class="os-animation" data-os-animation="bounceInUp" data-os-animation-delay="0.5s">Work</h2>
	
	<p class="os-animation" data-os-animation="bounceInUp" data-os-animation-delay="0.5s">We're a mixed bag when it comes to our range of projects, from websites to applications, creative design to software testing and e-commerce to WordPress. We're a great team and between us we can tackle any brief with the perfect solution. Take a look at some examples of our work below.</p>
	
</div>

<div class="portfolio-blocks">
	
	
	<div class="block block-2 work-item hover os-animation" data-os-animation="bounceInUp" ng-repeat="item in work" style="background-color: {{item.bcolor}} !important">
	
		<div class="bg" style="background-image: url({{item.img}});">&nbsp;</div>
		
		<div class="work-title"><p>{{item.name}}</p></div>
		
		<a href="./#/work/{{item.slug}}">&nbsp;</a>
		
	</div>
	
		
	
</div>